:root{
    --height: 602px;
    --dark : #0e3542;
	/*--light : #13a3a9;*/
	--light: #95a5a6;
}
body,head
{
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	height: 100%;
}
#icon-header
{
	width : 100%;
	background-color : var(--dark);
	/*color : #ecf0f1;*/
	padding-top : 10px;
	padding-bottom: 10px;  
	font-family: sans-serif;
	/*padding-left: 10px;*/
	/*position: absolute;*/
	/*top:0;*/
	/*left: 0;*/
	/*z-index: 1;*/
	color: white;
}


#title-header
{
	background-color: var(--light);
	/*color: #bdc3c7;*/
	padding: 10px 0;
	/*top: 38px;*/
	width: 100%;
	margin: 0;
	/*display: block;*/
	/*position: absolute;*/
	/*z-index: 1;*/
}

#title
{
	font-family: sans-serif;
	margin-left: 10px;
}
#icon
{
	margin-left: 10px; 
	display: inline-block;
}
#logos,#login-icon,#signup-icon
{
	float: right;
	margin-right: 10px;
	display: inline-block;
}
#login-icon,#signup-icon
{
	cursor: pointer;
}

.container 
{
	/*top:76px;*/
    width: 100%;
    height: var(--height);
    min-height: 100%;
    background: aqua;
    /*position: absolute;*/
    /*overflow-y: auto;*/
    /*flex-grow: 1;*/
    /*margin: auto;*/
    /*padding: 10px;*/
}
#firstSection 
{
    width: 20%;
	/*top:76px;*/
    height: var(--height);
    background-color: #ecf0f1;
    float: left;

    /*flex-grow: 1;*/
    /*overflow-y: auto;*/
}
#secondSection
{
    /*margin-left: 20%;*/
    height: var(--height);
    /*top:76px;*/
    width: 55%;
    background-color: var(--dark);;
    float: left;
    /*flex-grow: 1;*/
    overflow-y: auto;
    color: white;
    padding: 0 2.5%;
}
#thirdSection
{
	width: 20%;
	height: var(--height);
	background-color: #ecf0f1;
	float: left;
    /*flex-grow: 1;*/
    /*overflow-y: auto;*/
}