:root{
    --height: 700px;
}
body,head
{
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
}
#icon-header
{
	width : 100%;
	background-color : #34495e;
	/*color : #ecf0f1;*/
	padding-top : 10px;
	padding-bottom: 10px;  
	font-family: sans-serif;
	/*padding-left: 10px;*/
	/*position: absolute;*/
	top:0;
	left: 0;
	position: absolute;
	z-index: 1;
}


#title-header
{
	background-color: #95a5a6;
	/*color: #bdc3c7;*/
	padding: 10px 0;
	top: 38px;
	width: 100%;
	margin: 0;
	display: block;
	position: absolute;
	z-index: 1;
}

#title
{
	font-family: sans-serif;
	margin-left: 10px;
}
#icon
{
	margin-left: 10px; 
	display: inline-block;
}
#logos,#login-icon,#signup-icon
{
	float: right;
	margin-right: 10px;
	display: inline-block;
}
#login-icon,#signup-icon
{
	cursor: pointer;
}

.container 
{
	top:76px;
    width: 100%;
    height: var(--height);
    background: aqua;
    position: fixed;
    /*margin: auto;*/
    /*padding: 10px;*/
}
#firstSection 
{
    width: 20%;
	top:76px;
    height: var(--height);
    background-color: #34495e;
    float: left;
}
#secondSection
{
    /*margin-left: 20%;*/
    height: var(--height);
    top:76px;
    width: 60%;
    background-color: #ecf0f1;
    float: left;
}
#thirdSection
{
	width: 20%;
	top:76px;
	height: var(--height);
	background-color: #34495e;
	float: left;
}
.thumbs
{
	margin: auto;

	margin-top: 10px;
	margin-bottom: 0px;
	width: 90%;
	background-color: #34495e;
	font-family: sans-serif;
	color: #ecf0f1;
	cursor: pointer;
	/*z-index: 20;*/
	padding: 10px;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}
.thumbs div
{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}