:root{
    --height: 602px;
    --dark : #0e3542;
	/*--light : #13a3a9;*/
	--light: #95a5a6;
}
body,head
{
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0;
	height: 100%;
}
#icon-header
{
	width : 100%;
	background-color : var(--dark);
	/*color : #ecf0f1;*/
/*	padding-top : 10px;
	padding-bottom: 10px;  
*/	font-family: sans-serif;
	/*padding-left: 10px;*/
	/*position: absolute;*/
	/*top:0;*/
	/*left: 0;*/
	/*z-index: 1;*/
	color: white;
}


#title-header
{
	background-color: var(--light);
	/*color: #bdc3c7;*/
	padding: 10px 0;
	/*top: 38px;*/
	width: 100%;
	margin: 0;
	/*display: block;*/
	/*position: absolute;*/
	/*z-index: 1;*/
}

#title
{
	font-family: sans-serif;
	margin-left: 10px;
}
#icon
{
	margin-left: 10px; 
	display: inline-block;
	/*margin-bottom: 10px;*/
	margin-top: 5px;
}
#logos
{
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
	color: white;
}
.social-icons
{
	margin-right: 5px;
}
#login-icon,#signup-icon
{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	display: inline-block;
}
#login-icon,#signup-icon
{
	cursor: pointer;
}

.container 
{
	/*top:76px;*/
    width: 100%;
    height: var(--height);
    min-height: 100%;
    background: aqua;
    /*position: absolute;*/
    /*overflow-y: auto;*/
    /*flex-grow: 1;*/
    /*margin: auto;*/
    /*padding: 10px;*/
}
#firstSection 
{
    width: 20%;
	/*top:76px;*/
    height: var(--height);
    background-color: var(--dark);
    float: left;

    /*flex-grow: 1;*/
    /*overflow-y: auto;*/
}
#secondSection
{
    /*margin-left: 20%;*/
    height: var(--height);
    /*top:76px;*/
    width: 60%;
    background-color: #ecf0f1;
    float: left;
    /*flex-grow: 1;*/
    overflow-y: auto;
}
#thirdSection
{
	width: 20%;
	top:76px;
	height: var(--height);
	background-color: var(--dark);
	float: left;
    /*flex-grow: 1;*/
    /*overflow-y: auto;*/
}
.thumbs
{
	margin: auto;

	margin-top: 5px;
	width: 90%;
	background-color: var(--dark);
	font-family: sans-serif;
	color: #ecf0f1;
	cursor: pointer;
	/*z-index: 20;*/
	padding: 10px;
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 5px;
}

/*.thumbs div
{
	margin: 0;
	padding: 0;
	font-size: 1.2em;
}
*/
.headline, .content, .extra ,.urlToImg, .desc
{
	display: none;
}
#logged-in
{
	float: right;
	margin-right: 10px;
	display: inline-block;
	font-family: sans-serif;
	margin-top: 10px;
	margin-bottom: 10px;
	/*display: none;*/
}

