:root
{	
	--dark : #0e3542;
	/*--light : #13a3a9;*/
	--light: #95a5a6;
}
body,head
{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
#icon-header
{
	width : 100%;
	background-color : var(--dark);
	/*color : #ecf0f1;*/
	padding-top : 10px;
	padding-bottom: 10px;  
	font-family: sans-serif;
	/*padding-left: 10px;*/
	/*position: absolute;*/
	top:0;
	left: 0;
	position: absolute;
	z-index: 1;
	color: white;
}


#title-header
{
	background-color: var(--light);
	/*color: #bdc3c7;*/
	padding: 10px 0;
	top: 38px;
	width: 100%;
	margin: 0;
	display: block;
	position: absolute;
	z-index: 1;
	border-style: none none solid none;
	border-color: var(--dark);
	border-width: 2px;
}

#title
{
	font-family: sans-serif;
	margin-left: 10px;
	float: left;
}
#category-header
{
	background-color: var(--light);
	font-family: sans-serif;
	/*position: relative;*/
	position: absolute;
	width: 100%;
	top:78px;
	z-index: 2;
}

#category-header ul
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#category-header ul li
{
	padding: 10px 0px;
	width: 15%;
	text-align: center;
	display: inline-block;
	margin: 0px;
	cursor: pointer;
}
#category-header ul li:hover
{
	background-color: var(--dark);
	color: white;
}
#icon
{
	margin-left: 10px; 
	display: inline-block;
	color: white;
}
#logos,#login-icon,#signup-icon, #logged-in
{
	float: right;
	margin-right: 10px;
	display: inline-block;
	color: white;
}
#login-icon,#signup-icon
{
	cursor: pointer;
	color: white;
}/*
#logged-in:hover
{
	font-size: 1.04em;
}*/
#logout
{
	float: right;
	cursor: pointer;
	margin-right: 10px;
	display: inline-block;
	font-family: sans-serif;
	/*display: none;*/
}
#image1
{
	/*position: absolute;*/
	left: 0;
}
#image2
{
	/*display: none;*/
	left: 100%;
}
#image3
{
	left: -100%;
}
.image-container
{
	overflow-x: hidden;
}

.images
{
	top: 116px;
	width: 100%;
	height: 562px;
	/*display: inline;*/
	/*float: left;*/
	margin: 0;
	padding: 0;
	position: absolute;
}

.left-right-buttons
{
	position: absolute;
	z-index: 50;
	/*background-color: #95a5a6;		*/
	background-color: var(--light);
	padding: 50px 50px;
	/*width: 50px 50px;*/
	border-radius: 100% ;
	top: 280px;
	opacity: 0.20;
}
.left-right-buttons:hover
{
	cursor: pointer;
	opacity: 0.60;
}
#left-button div
{
	left: 150%;
	position: relative;
}
#right-button div
{
	right: 150%;
	position: relative;
}
#left-button
{
	left : -50px;
	/*left: 0;*/
	text-align: right;
}
#right-button
{
	right: -50px;
	/*right: 0;*/
	text-align: left;
}


#coverup
{
	height: 200%;
	width: 100%;
	top: 0;
	left: 0;
	/*display: block;*/
	display: none;
	position: absolute;
	z-index: 7;
	opacity: 0.9;
	/*background-color: #95a5a6;*/
	background-color: var(--light);
}
.login-signup
{
	font-family: sans-serif;
	margin: auto;
	font-size: 0.8em;
	position: fixed;
	top: 35%;
	left: 40%;
	/*display: block;*/
	display: none;
	z-index: 10;
	background-color: white;
	border-radius: 10px;
	padding:20px 20px;
	border:5px solid var(--dark);
}
.login-signup h4
{
	font-size: 1.4em;
	margin: 0;
	padding:0 0 10px 0;
}
#submit-button
{
	margin: auto;
	margin-top: 10px; 
	width: 56.47px;
	/*padding: 10px;*/
	/*background-color: green;*/
}
.login-message
{
	display: none;
	position: fixed;
	padding: 10px 20px;
	z-index: 10;
	border-style: solid;
	border-width: 2px;
	top: 480px;
	font-family: sans-serif;
	border-radius: 0;
	color: black;
}
#success
{
	background-color: #2ecc71;
	border-color: #27ae60;
}
/*#unsuccess
{
	background-color: #e74c3c;
	border-color: #c0392b;
}*/
#closeButton
{
	top: 35%;
	left: 40%;
	display: none;
	position: absolute;
	padding: 10px;
	z-index: 12;
	background-color: var(--dark);
}
#errorMessage
{
	margin-top:10px;
	color: red;
	visibility: hidden;
}
#errorMessage2
{
	margin-top:10px;
	color: red;
	visibility: hidden;
}

